<div id="container">
    <app-sidebar></app-sidebar>
    <div id="spinner" *ngIf="showSpinner">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div> 
      </div>
    <div class="content mx-5 w-100">
      
      <div class="alert alert-danger alert-dismissible mb-3 mt-3" role="alert" *ngIf="errorMessage">
        {{errorMessage}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <div class="alert alert-success alert-dismissible mb-3 mt-3" role="alert" *ngIf="successMessage">
        {{successMessage}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <div id="not-found" class=" fs-1 text-center" *ngIf="bookings.length === 0">
        No bookings were found.
      </div>
      <table class="table table-striped text-center table-bordered align-baseline mt-5" *ngIf="!showSpinner && bookings.length>0">
        <thead>
          <tr>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Hotel</th>
            <th scope="col">Check-In</th>
            <th scope="col" colspan="2">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let booking of getBookings()">

            <td>{{booking.firstname}}</td>
            <td>{{booking.lastname}}</td>
            <td>{{booking.hotel.name}}</td>
            <td>{{booking.booking_date}}</td>
            <td>
              <button type="button" class="btn btn-primary" (click)="selectBookingAndHotel(booking)" [disabled]="false"  data-bs-toggle="modal" data-bs-target="#view-booking-modal">
                See full details
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-danger" (click)="true" [disabled]="false"  (click)="cancelBooking(booking.id)">
                Cancel booking
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>


<div class="modal fade" id="view-booking-modal" tabindex="-1" aria-labelledby="view-booking-modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      @if (selectedBooking) {
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="view-booking-modalLabel">{{selectedBooking.hotel.name}} - Book Room(s)</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger alert-dismissible mb-3" role="alert" *ngIf="modalErrorMessage">
          {{modalErrorMessage}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert alert-success alert-dismissible mb-3" role="alert" *ngIf="modalSuccessMessage">
          {{modalSuccessMessage}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <li>
          Firstname: {{selectedBooking.firstname}}
        </li>
        <li>
          Lastname: {{selectedBooking.lastname}}
        </li>
        <li>
          Email: {{selectedBooking.email}}
        </li>
        <li>
          Phone: {{selectedBooking.phone}}
        </li>
        <li>
          Date: {{selectedBooking.booking_date}}
        </li>

        <p class="mt-3">Selected Rooms ({{selectedBooking.rooms.length}}): <span *ngIf="selectedBooking.rooms.length===0">-</span></p>
        <div class="input-group" *ngFor="let room of selectedBooking.rooms">
          <div class="input-group-text align-baseline mb-3">
            <input type="checkbox" class="form-check-input mx-1" [checked]="true" value="{{room.roomNumber}}" id="room-{{room.roomNumber}}" (change)="disSelectRoom(room)">
            <label for="room-{{room.roomNumber}}"> Room nr.  {{room.roomNumber}}: {{room.type}} bed for {{room.price.toString() | currency: 'EUR' }}</label>
          </div>
        </div>

        <p>Available Rooms ({{getAvailableRooms(selectedHotel.rooms).length}}):</p>
        <div class="input-group" *ngFor="let room of getAvailableRooms(selectedHotel.rooms)">
          <div class="input-group-text align-baseline mb-3">
            <input type="checkbox" class="form-check-input mx-1" [checked]="false" value="{{room.roomNumber}}" id="room-{{room.roomNumber}}" (change)="selectRoom(room)">
            <label for="room-{{room.roomNumber}}"> Room nr.  {{room.roomNumber}}: {{room.type}} bed for {{room.price.toString() | currency: 'EUR' }}</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <p class="text-start w-30">Total price: {{getTotalPrice()| currency: 'EUR'}}</p>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success" [disabled]="selectedBooking.rooms.length === 0" (click)="changeBookedRooms()">Change booked rooms</button>
      </div>
      } @else {
        <div class="text-alert text-center pt-3 pb-3 fs-3">
          No booking selected!
        </div>
      }
    </div>
  </div>
</div>
